@model IEnumerable<ProductVM>

@{ ViewData["Title"] = "Produse"; }

<div class="row mb-2 mt-2 operationsButtons">
    <div class="col-md-12">
        <a href="/Product/New" class="btn btn-new btn-outline-new font-weight-bold mr-2" data-toggle="tooltip" title="Nou" data-placement="top">
            <span class="fa fa-plus-circle"></span>
        </a>

        <button class="btn btn-outline-dark font-weight-bold mr-2" data-toggle="tooltip" title="Editare" data-placement="top" onclick="Product.onEditBtnPress()">
            <span class="fa fa-edit"></span>
        </button>

        <button type="button" class="btn btn-delete btn-outline-delete font-weight-bold mr-2" id="btnDelete" data-toggle="tooltip" data-placement="top" title="Stergere" onclick="Product.onDelete()">
            <span class="fa fa-trash"></span>
        </button>
    </div>
</div>

<br />
<br />

<table id="table" class="table d-table-row table-striped table-light">
    <thead>
        <tr>
            <th hidden>Product Id</th>
            <th>Imagine</th>
            <th>Produs</th>
            <th>Pret</th>
            <th>Disponibilitate</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
<tr id="@item.Id">
    <td hidden>@item.Id</td>
    <td><img style="width: 300px; height: 150px;" src="~/@item.ImagePath" alt="nu exista imagine disponibila" /></td>
    <td>@item.Name</td>
    <td>@item.Price</td>
    <td><input type="checkbox" checked="@item.IsAvailable" /></td>
</tr>}

    </tbody>

</table>